<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <h1>Add</h1>
    <form id="form">
        <input type="text" name="name" value="John"><br>
        <input type="number" name="price" value="Doe"><br>
        <input type="submit">
    </form>
    <div id="mess"></div>

    <script>

        // асинхронная функция
        async function SendForm(e) {
            // останавливает действие по умолчанию
            e.preventDefault();

            const formData = new FormData(document.querySelector('form'))
            var data = {}
            for (var pair of formData.entries()) {
                data[pair[0]] = pair[1]
            }
            console.log(JSON.stringify(data));
            // отправляем POST запрос на сервер
            let response = await fetch('http://localhost:8080/cmd/add-product', {
                method: 'POST',          // метод POST
                body: JSON.stringify(data) // в класс FormData передаем ссылку на форму
            });

            // получаем JSON
            let result = await response.json();

            document.getElementById("mess").append(result.error)
            if (result.status == "success") {
                location.replace("http://localhost:8080/products")
            }
        };

        // при щелчке на кнопку отправки формы
        // отправляем форму на сервер
        form.onsubmit = SendForm;

    </script>

</body>

</html>